// Common table styles
table {
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.table-td-padding {
  padding: 5px;
}

// Scrollable table container
.scrollable-table {
  max-height: 700px;
  overflow: auto;
}

// Pagination
.ui-paginator-element {
  padding: 0 5px 0 5px;
}
