{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://tds-services.demandtrans-apis.com","description":"Generated server url"}],"paths":{"/ride-details/api/view-details":{"post":{"tags":["data-transfer-controller"],"operationId":"getViewDetails","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiderResponse"}}}}}}}},"/ride-details/api/search-trips":{"post":{"tags":["data-transfer-controller"],"operationId":"searchFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiderResponse"}}}}}}}},"/ride-details/api/past-trips":{"post":{"tags":["data-transfer-controller"],"operationId":"getPastRides","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiderResponse"}}}}}}}},"/auth/token":{"post":{"tags":["token-controller"],"operationId":"token","parameters":[{"name":"X-Client-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-API-Key","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/viaAPI/updateTrip":{"post":{"tags":["via-controller"],"operationId":"updateTripViaWebhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TripDetails"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/viaAPI/requestNewRide":{"post":{"tags":["Via API"],"summary":"Add a new Via Ride","description":"This API is used to create a Via Ride","operationId":"requestNewRide","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewRideRequestDTO"}}},"required":true},"responses":{"200":{"description":"The Via Rider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewRideResponseTrip"}}}}}}},"/api/v1/viaAPI/addRider":{"post":{"tags":["Via API"],"summary":"Add a new Via Rider","description":"This API is used to create a Via Rider","operationId":"addRider","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RiderInformation"}}},"required":true},"responses":{"200":{"description":"The Via Rider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewRiderRegisterResponse"}}}}}}},"/api/v1/uber/webhook":{"post":{"tags":["uber-controller"],"operationId":"handleWebhook","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UberDriverLocationNotification"},{"$ref":"#/components/schemas/UberReceiptReadyNotification"},{"$ref":"#/components/schemas/UberStatusChangedNotification"},{"$ref":"#/components/schemas/UberTripMessageNotification"}]}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/uber/insertTestTrip":{"post":{"tags":["Uber API"],"summary":"Insert a test trip","description":"This endpoint is used to create a new guest trip request.","operationId":"insertTestTrip","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberInsertTestTrip"}}},"required":true},"responses":{"200":{"description":"The result of the trip request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTripEstimatesResponse"}}}}}}},"/api/v1/uber/getScheduledTripEstimates":{"post":{"tags":["Uber API"],"summary":"Get Scheduled Trip Estimates","description":"This API is used to get product, ETA and fare estimates for a scheduled trip.","operationId":"getScheduledTripEstimates","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberScheduledEstimateRequest"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"This API is used to get product, ETA and fare estimates for a trip","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTripEstimatesResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/getReserveAirportPickupTripEstimates":{"post":{"tags":["Uber API"],"summary":"Get Reserve Airport Pickup Trip Estimates","description":"This API is used to get product, ETA and fare estimates for a trip.","operationId":"getReserveAirportPickupTripEstimates","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberReserveAirportPickupEstimateRequest"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"This API is used to get product, ETA and fare estimates for a trip","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTripEstimatesResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/getOnDemandTripEstimates":{"post":{"tags":["Uber API"],"summary":"Get On-Demand Trip Estimates","description":"This API is used to get product, ETA and fare estimates for a trip.","operationId":"getOnDemandTripEstimates","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberOnDemandEstimateRequest"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"This API is used to get product, ETA and fare estimates for a trip","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTripEstimatesResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/getFlexibleTripEstimates":{"post":{"tags":["Uber API"],"summary":"Get Flexible Trip Estimates","description":"This API is used to get product, ETA and fare estimates for a trip. For this trip type, the rider will receive an SMS with a link to request the trip on the specified pickup_day","operationId":"getFlexibleTripEstimates","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberFlexibleEstimateRequest"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"This API is used to get product, ETA and fare estimates for a trip","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTripEstimatesResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createScheduledTrip":{"post":{"tags":["Uber API"],"summary":"Create a Scheduled Guest Trip with no return trip","description":"This endpoint is used to create a new advanced-scheduled guest trip request with no return trip.","operationId":"createScheduledTrip","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberScheduledRide"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createScheduledTripWithScheduledReturn":{"post":{"tags":["Uber API"],"summary":"Create a Scheduled Trip with a Scheduled Return Trip","description":"This endpoint is used to create a new scheduled trip request which includes a scheduled return trip. The scheduled return trip must have either a pickup time or dropoff time specified","operationId":"createScheduledTripWithScheduledReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberScheduledRideWithScheduledReturn"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createScheduledTripWithFlexibleReturn":{"post":{"tags":["Uber API"],"summary":"Create a Scheduled Trip with a Flexible Return Trip","description":"This endpoint is used to create a new scheduled trip request which includes a flexible return trip. The flexible return trip must specify the pickup date. On the return date, the rider will receive a text with a link that they can use to request a ride when they are ready for it.","operationId":"createScheduledTripWithFlexibleReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberScheduledRideWithFlexibleReturn"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createOnDemandTrip":{"post":{"tags":["Uber API"],"summary":"Create On-Demand Guest Trip with No Return Trip","description":"This endpoint is used to create a new on-demand guest trip request with no return trip.","operationId":"createOnDemandTrip","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberRide"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createOnDemandTripWithScheduledReturn":{"post":{"tags":["Uber API"],"summary":"Create On-Demand Guest Trip with a Scheduled Return Trip","description":"This endpoint is used to create a new on-demand guest trip request which includes a scheduled return trip. The scheduled return trip must have either a pickup time or dropoff time specified","operationId":"createOnDemandTripWithScheduledReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberOnDemandRideWithScheduledReturn"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/createOnDemandTripWithFlexibleReturn":{"post":{"tags":["Uber API"],"summary":"Create On-Demand Guest Trip with a Flexible Return Trip","description":"This endpoint is used to create a new on-demand guest trip request which includes a flexible return trip. The flexible return trip must specify the pickup date. On the return date, the rider will receive a text with a link that they can use to request a ride when they are ready for it.","operationId":"createOnDemandTripWithFlexibleReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberOnDemandRideWithFlexibleReturn"}}},"required":true},"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Trip successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}}},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/trapeze/transferTripToVia/{tripId}":{"post":{"tags":["trapeze-controller"],"operationId":"transferTripToVia","parameters":[{"name":"tripId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/ride-details/api/todays-rides":{"get":{"tags":["data-transfer-controller"],"operationId":"getTodaysRides","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiderResponse"}}}}}}}},"/ride-details/api/save":{"get":{"tags":["data-transfer-controller"],"operationId":"saveRidesInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/ride-details/api/future-rides":{"get":{"tags":["data-transfer-controller"],"operationId":"getFutureRides","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiderResponse"}}}}}}}},"/api/v1/viaAPI/viaRider/{riderId}":{"get":{"tags":["Via API"],"summary":"Find the Via Rider by riderId","description":"This API is used to find a Via Rider by riderId","operationId":"findViaRider","parameters":[{"name":"riderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The Via Rider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RiderInformation"}}}}}}},"/api/v1/viaAPI/testViaPolling":{"get":{"tags":["via-controller"],"operationId":"testViaPolling","responses":{"200":{"description":"OK"}}}},"/api/v1/viaAPI/serviceDetails":{"get":{"tags":["via-controller"],"operationId":"findServiceDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/viaAPI/health-check":{"get":{"tags":["via-controller"],"operationId":"check","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/uber/trip/{requestId}":{"get":{"tags":["Uber API"],"summary":"Get a trip","description":"This endpoint returns information for a specific trip.","operationId":"getTrip","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Information about the specified trip.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberTrip"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/uber/health-check":{"get":{"tags":["uber-controller"],"operationId":"check_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/uber/getRequestZones":{"get":{"tags":["Uber API"],"summary":"Get request zones","description":"This endpoint returns information about specified pickup locations at venues like airports, hospitals, and concert arenas. This helps to ensure that guests are picked up at the correct location with wayfinding notes to assist both riders and drivers.","operationId":"getRequestZones","parameters":[{"name":"latitude","in":"query","required":true,"schema":{"type":"string"}},{"name":"longitude","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"200":{"description":"Information about specified pickup locations at venues like airports, hospitals, and concert arenas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberGetRequestZonesResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}},"/api/v1/trapeze/pollTripBrokerTrips":{"get":{"tags":["trapeze-controller"],"operationId":"pollTripBrokerTrips","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/trapeze/getProviders":{"get":{"tags":["trapeze-controller"],"operationId":"getProviders","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TripBrokerProvider"}}}}}}}},"/api/v1/trapeze/amIAlive":{"get":{"tags":["trapeze-controller"],"operationId":"callGetProviders","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/uber/cancelTrip/{requestId}":{"delete":{"tags":["Uber API"],"summary":"Cancel a trip","description":"This endpoint is used to cancel a guest trip.","operationId":"cancelTrip","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid OAuth 2.0 credentials provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"404":{"description":"Trip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"500":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"204":{"description":"Trip successfully cancelled"},"400":{"description":"Bad request, e.g., invalid request ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}},"403":{"description":"The client does not have permission to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UberErrorResponse"}}}}}}}},"components":{"schemas":{"SearchFilter":{"type":"object","properties":{"riderName":{"type":"string"},"tripId":{"type":"string"},"providerCustId":{"type":"string"},"state":{"type":"string"}}},"RiderResponse":{"type":"object","properties":{"tripId":{"type":"integer","format":"int64"},"tripProvider":{"type":"string"},"performingProvider":{"type":"string"},"rider":{"type":"string"},"driver":{"type":"string"},"phone":{"type":"string"},"status":{"type":"string"},"reservationPickupTime":{"type":"string","format":"date-time"},"negotiatedPickupTime":{"type":"string","format":"date-time"},"pickupDateTime":{"type":"string","format":"date-time"},"pickupFrom":{"type":"string"},"pickupCity":{"type":"string"},"dropDateTime":{"type":"string","format":"date-time"},"dropAt":{"type":"string"},"dropCity":{"type":"string"},"providerCustId":{"type":"string"},"customerPhone":{"type":"string"},"pickupDescription":{"type":"string"},"dropoffDescription":{"type":"string"},"estimatedPickupTime":{"type":"string","format":"date-time"},"estimatedDropoffTime":{"type":"string","format":"date-time"},"noShowTime":{"type":"string","format":"date-time"},"lastUpdated":{"type":"string","format":"date-time"}}},"CurrentLocation":{"type":"object","properties":{"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"},"address":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"}}},"DriverInfo":{"type":"object","properties":{"image":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"phone_number":{"type":"string"}}},"Dropoff":{"type":"object","properties":{"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"},"address":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"}}},"Pickup":{"type":"object","properties":{"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"},"address":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"}}},"TripDetails":{"type":"object","properties":{"cost":{"type":"integer","format":"int32"},"currency":{"type":"string"},"dropoff":{"$ref":"#/components/schemas/Dropoff"},"pickup":{"$ref":"#/components/schemas/Pickup"},"cancel_info":{"type":"string"},"cancel_reason":{"type":"string"},"driver_arrival_timestamp":{"type":"integer","format":"int64"},"driver_info":{"$ref":"#/components/schemas/DriverInfo"},"dropoff_distance":{"type":"integer","format":"int32"},"dropoff_eta":{"type":"integer","format":"int64"},"dropoff_walking_time_sec":{"type":"integer","format":"int32"},"earliest_dropoff_eta":{"type":"integer","format":"int64"},"earliest_pickup_eta":{"type":"integer","format":"int64"},"last_status_change_timestamp":{"type":"integer","format":"int64"},"latest_dropoff_eta":{"type":"integer","format":"int64"},"latest_pickup_eta":{"type":"integer","format":"int64"},"no_show_timestamp":{"type":"integer","format":"int64"},"passenger_count":{"type":"integer","format":"int32"},"pickup_distance":{"type":"integer","format":"int32"},"pickup_eta":{"type":"integer","format":"int64"},"pickup_walking_time_sec":{"type":"integer","format":"int32"},"prescheduled_ride_id":{"type":"string"},"proposal_uuid":{"type":"string"},"recurring_id":{"type":"string"},"ride_groups":{"type":"array","items":{"type":"string"}},"ride_notes":{"type":"string"},"rider_boarding_timestamp":{"type":"integer","format":"int64"},"rider_cancel_timestamp":{"type":"integer","format":"int64"},"rider_dropoff_timestamp":{"type":"integer","format":"int64"},"rider_id":{"type":"integer","format":"int32"},"sub_service":{"type":"string"},"trip_id":{"type":"string"},"trip_properties":{"type":"array","items":{"type":"string"}},"trip_status":{"type":"string"},"trip_type":{"type":"string"},"vehicle_info":{"$ref":"#/components/schemas/VehicleInfo"}}},"VehicleInfo":{"type":"object","properties":{"color":{"type":"string"},"model":{"type":"string"},"license_plate":{"type":"string"},"vfh_id":{"type":"string"},"current_location":{"$ref":"#/components/schemas/CurrentLocation"}}},"AdditionalPassengers":{"type":"object"},"Destination":{"type":"object","properties":{"lat":{"type":"string"},"lng":{"type":"string"},"address":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"}}},"NewRideRequestDTO":{"type":"object","properties":{"destination":{"$ref":"#/components/schemas/Destination"},"origin":{"$ref":"#/components/schemas/Origin"},"passenger_count":{"type":"string"},"rider_id":{"type":"string"},"additional_passengers":{"$ref":"#/components/schemas/AdditionalPassengers"},"arrive_at":{"type":"string"},"depart_at":{"type":"string"},"recurring_days_of_week":{"type":"array","items":{"type":"string"}},"recurring_end_date":{"type":"string"},"return_trip_arrive_at":{"type":"string"},"return_trip_depart_at":{"type":"string"},"ride_groups":{"type":"array","items":{"type":"string"}},"sub_service":{"type":"string"},"trip_properties":{"type":"array","items":{"type":"string"}}}},"Origin":{"type":"object","properties":{"lat":{"type":"string"},"lng":{"type":"string"},"address":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"}}},"NewRideResponseTrip":{"type":"object","properties":{"cost":{"type":"string"},"currency":{"type":"string"},"dropoff":{"$ref":"#/components/schemas/Dropoff"},"dropoff_distance":{"type":"string"},"dropoff_eta":{"type":"string"},"dropoff_walking_time_sec":{"type":"string"},"earliest_dropoff_eta":{"type":"string"},"earliest_pickup_eta":{"type":"string"},"latest_dropoff_eta":{"type":"string"},"latest_pickup_eta":{"type":"string"},"pickup":{"$ref":"#/components/schemas/Pickup"},"pickup_distance":{"type":"string"},"pickup_eta":{"type":"string"},"pickup_walking_time_sec":{"type":"string"},"proposal_uuid":{"type":"string"},"recurring_id":{"type":"string"},"ride_groups":{"type":"array","items":{"type":"string"}},"sub_service":{"type":"string"},"trip_id":{"type":"string"},"trip_properties":{"type":"array","items":{"type":"string"}},"trip_status":{"type":"string"},"trip_type":{"type":"string"}}},"Concessions":{"type":"object","properties":{"token":{"type":"boolean"},"adult":{"type":"boolean"}}},"ExternalAccounts":{"type":"object"},"RiderInformation":{"type":"object","properties":{"city":{"type":"string"},"concessions":{"$ref":"#/components/schemas/Concessions"},"gender":{"type":"string"},"language":{"type":"string"},"title":{"type":"string"},"wav":{"type":"boolean"},"additional_phone_number":{"type":"string"},"assistant_type":{"type":"string"},"comments_emergency_notes":{"type":"string"},"communication_preference":{"type":"array","items":{"type":"string"}},"date_of_birth":{"type":"string"},"disability_type":{"type":"array","items":{"type":"string"}},"driver_notes":{"type":"string"},"email_address":{"type":"string"},"emergency_first_name":{"type":"string"},"emergency_last_name":{"type":"string"},"emergency_phone":{"type":"string"},"external_accounts":{"$ref":"#/components/schemas/ExternalAccounts"},"external_id":{"type":"string"},"eligibility_start_date":{"type":"string"},"eligibility_end_date":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"middle_name":{"type":"string"},"mobility_aids":{"type":"array","items":{"type":"string"}},"operator_notes":{"type":"string"},"phone_number":{"type":"string"},"postal_code":{"type":"string"},"programs_eligible":{"type":"array","items":{"type":"string"}},"rider_id":{"type":"integer","format":"int32"},"space_type_option":{"type":"string"},"street_address":{"type":"string"},"sub_services":{"$ref":"#/components/schemas/SubServices"},"test_rider":{"type":"boolean"}}},"SubServices":{"type":"object","properties":{"SORTA_MetroNow":{"type":"string"}}},"NewRiderRegisterResponse":{"type":"object","properties":{"outcome":{"type":"string"},"external_id":{"type":"string"},"rider_id":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"info":{"type":"string"},"uuid":{"type":"string"}}},"UberDriverLocation":{"type":"object","properties":{"bearing":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"UberDriverLocationData":{"type":"object","properties":{"location":{"$ref":"#/components/schemas/UberDriverLocation"}}},"UberDriverLocationNotification":{"type":"object","allOf":[{"$ref":"#/components/schemas/UberWebhookEvent"},{"type":"object","properties":{"resource_href":{"type":"string"},"data":{"$ref":"#/components/schemas/UberDriverLocationData"}}}]},"UberReceiptReadyNotification":{"type":"object","allOf":[{"$ref":"#/components/schemas/UberWebhookEvent"},{"type":"object","properties":{"resource_href":{"type":"string"}}}]},"UberStatusChangedNotification":{"type":"object","allOf":[{"$ref":"#/components/schemas/UberWebhookEvent"},{"type":"object","properties":{"resource_href":{"type":"string"}}}]},"UberTripMessageData":{"type":"object","properties":{"sender":{"type":"string"},"message":{"type":"string"}}},"UberTripMessageNotification":{"type":"object","allOf":[{"$ref":"#/components/schemas/UberWebhookEvent"},{"type":"object","properties":{"resource_href":{"type":"string"},"data":{"$ref":"#/components/schemas/UberTripMessageData"}}}]},"UberWebhookEvent":{"type":"object","properties":{"event_id":{"type":"string"},"event_time":{"type":"integer","format":"int64"},"event_type":{"type":"string"},"meta":{"$ref":"#/components/schemas/UberWebhookEventMeta"}},"discriminator":{"propertyName":"event_type"}},"UberWebhookEventMeta":{"type":"object","properties":{"user_id":{"type":"string"},"org_uuid":{"type":"string"},"resource_id":{"type":"string"},"status":{"type":"string"},"tenancy":{"type":"string"}}},"Address":{"required":["address"],"type":"object","properties":{"address":{"type":"string"},"place":{"$ref":"#/components/schemas/Place"}}},"ContactToNotify":{"required":["contact_events","phone_number"],"type":"object","properties":{"phone_number":{"type":"string"},"contact_events":{"type":"array","items":{"type":"string"}}}},"Coordinates":{"required":["latitude","longitude"],"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"CoordinatesWithPlace":{"required":["latitude","longitude"],"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"place":{"$ref":"#/components/schemas/Place"}}},"Place":{"required":["place_id","provider"],"type":"object","properties":{"place_id":{"type":"string"},"provider":{"type":"string"}}},"ReturnTripScheduling":{"required":["pickup_time"],"type":"object","properties":{"pickup_time":{"type":"integer","format":"int64"}}},"ScheduledReturnTrip":{"required":["end_location","product_id","scheduling","start_location"],"type":"object","properties":{"start_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"end_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"note_for_driver":{"type":"string"},"scheduling":{"$ref":"#/components/schemas/ReturnTripScheduling"}}},"Stop":{"type":"object","properties":{"coordinates":{"$ref":"#/components/schemas/Coordinates"},"address":{"$ref":"#/components/schemas/Address"},"place":{"$ref":"#/components/schemas/Place"},"timezone":{"type":"string"},"display_title":{"type":"string"}}},"UberCreateGuestTripResponse":{"required":["guest","product_id","request_id","status","surge_multiplier"],"type":"object","properties":{"eta":{"type":"integer","format":"int64"},"request_id":{"type":"string"},"product_id":{"type":"string"},"status":{"type":"string"},"surge_multiplier":{"type":"number","format":"double"},"guest":{"$ref":"#/components/schemas/UberGuest"}}},"UberGuest":{"required":["first_name","last_name","phone_number"],"type":"object","properties":{"guest_id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"phone_number":{"type":"string"},"email":{"type":"string"},"locale":{"type":"string"}}},"UberInsertTestTrip":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UberOnDemandRideWithScheduledReturn"},"response":{"$ref":"#/components/schemas/UberCreateGuestTripResponse"}}},"UberOnDemandRideWithScheduledReturn":{"required":["dropoff","guest","pickup","product_id"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/ScheduledReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}}}},"UberCancellation":{"type":"object","properties":{"min_cancellation_fee":{"type":"integer","format":"int32"},"cancellation_grace_period_threshold_sec":{"type":"integer","format":"int32"}}},"UberEstimateInfo":{"type":"object","properties":{"fare":{"$ref":"#/components/schemas/UberFare"},"trip":{"$ref":"#/components/schemas/UberTripDistanceEstimate"},"fare_id":{"type":"string"},"pickup_estimate":{"type":"integer","format":"int32"},"pricing_explanation":{"type":"string"},"no_cars_available":{"type":"boolean"}}},"UberFare":{"type":"object","properties":{"display":{"type":"string"},"value":{"type":"number","format":"double"},"hourly":{"$ref":"#/components/schemas/UberHourly"},"currency_code":{"type":"string"},"expires_at":{"type":"integer","format":"int64"},"fare_breakdown":{"type":"array","items":{"$ref":"#/components/schemas/UberFareBreakdown"}},"fare_id":{"type":"string"}}},"UberFareBreakdown":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"value":{"type":"number","format":"double"}}},"UberHourly":{"type":"object","properties":{"tiers":{"type":"array","items":{"$ref":"#/components/schemas/UberTier"}},"overage_rates":{"$ref":"#/components/schemas/UberOverageRates"}}},"UberOverageRates":{"type":"object","properties":{"overage_rate_per_temporal_unit":{"type":"number","format":"double"},"overage_rate_per_distance_unit":{"type":"number","format":"double"},"temporal_unit":{"type":"string"},"distance_unit":{"type":"string"},"pricing_explainer":{"type":"string"}}},"UberProduct":{"type":"object","properties":{"capacity":{"type":"integer","format":"int32"},"description":{"type":"string"},"image":{"type":"string"},"shared":{"type":"boolean"},"cancellation":{"$ref":"#/components/schemas/UberCancellation"},"advance_booking_type":{"type":"string"},"background_image":{"type":"string"},"display_name":{"type":"string"},"parent_product_type_id":{"type":"string"},"product_group":{"type":"string"},"product_id":{"type":"string"},"scheduling_enabled":{"type":"boolean"},"short_description":{"type":"string"},"upfront_fare_enabled":{"type":"boolean"},"vehicle_view_id":{"type":"integer","format":"int32"},"reserve_info":{"$ref":"#/components/schemas/UberReserveInfo"}}},"UberProductEstimate":{"required":["estimate_info","product"],"type":"object","properties":{"fare":{"$ref":"#/components/schemas/UberFare"},"product":{"$ref":"#/components/schemas/UberProduct"},"estimate_info":{"$ref":"#/components/schemas/UberEstimateInfo"},"fare_id":{"type":"string"},"fulfillment_indicator":{"type":"string"}}},"UberReserveInfo":{"type":"object","properties":{"enabled":{"type":"boolean"},"scheduled_threshold_minutes":{"type":"integer","format":"int32"},"free_cancellation_threshold_minutes":{"type":"integer","format":"int32"},"add_ons":{"type":"array","items":{"type":"object"}},"valid_until_timestamp":{"type":"integer","format":"int64"}}},"UberTier":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"distance":{"type":"integer","format":"int32"},"time_in_mins":{"type":"integer","format":"int32"},"distance_unit":{"type":"string"},"formatted_time_and_distance_package":{"type":"string"}}},"UberTripDistanceEstimate":{"type":"object","properties":{"distance_estimate":{"type":"number","format":"double"},"distance_unit":{"type":"string"},"duration_estimate":{"type":"integer","format":"int32"},"travel_distance_estimate":{"type":"number","format":"double"}}},"UberTripEstimatesResponse":{"required":["etas_unavailable","fares_unavailable","product_estimates"],"type":"object","properties":{"etas_unavailable":{"type":"boolean"},"fares_unavailable":{"type":"boolean"},"product_estimates":{"type":"array","items":{"$ref":"#/components/schemas/UberProductEstimate"}}}},"PickupDropoffTimes":{"type":"object","properties":{"pickup_time":{"type":"integer","description":"Either pickup_time or dropoff_time are required. Both cannot be provided.","format":"int64"},"dropoff_time":{"type":"integer","description":"Either pickup_time or dropoff_time are required. Both cannot be provided.","format":"int64"}}},"UberLocation":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"UberScheduledEstimateRequest":{"type":"object","properties":{"pickup":{"$ref":"#/components/schemas/UberLocation"},"dropoff":{"$ref":"#/components/schemas/UberLocation"},"scheduling":{"$ref":"#/components/schemas/PickupDropoffTimes"}}},"UberErrorResponse":{"type":"object","properties":{"statusCode":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"},"metadata":{"$ref":"#/components/schemas/UberErrorResponseMetadata"}}},"UberErrorResponseMetadata":{"type":"object","properties":{"statusCode":{"type":"string"}}},"Flight":{"type":"object","properties":{"designator":{"type":"string"},"arrival_airport_code":{"type":"string"},"arrival_date":{"type":"string"}}},"UberReserveAirportPickupEstimateRequest":{"required":["dropoff","flight","pickup"],"type":"object","properties":{"pickup":{"$ref":"#/components/schemas/UberLocation"},"dropoff":{"$ref":"#/components/schemas/UberLocation"},"flight":{"$ref":"#/components/schemas/Flight"}}},"UberOnDemandEstimateRequest":{"required":["dropoff","pickup"],"type":"object","properties":{"pickup":{"$ref":"#/components/schemas/UberLocation"},"dropoff":{"$ref":"#/components/schemas/UberLocation"}}},"DeferredRideOptions":{"type":"object","properties":{"pickup_day":{"type":"string"}}},"UberFlexibleEstimateRequest":{"required":["deferred_ride_options","dropoff","pickup"],"type":"object","properties":{"pickup":{"$ref":"#/components/schemas/UberLocation"},"dropoff":{"$ref":"#/components/schemas/UberLocation"},"deferred_ride_options":{"$ref":"#/components/schemas/DeferredRideOptions"}}},"ReturnTrip":{"required":["end_location","product_id","start_location"],"type":"object","properties":{"start_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"end_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"note_for_driver":{"type":"string"}}},"Scheduling":{"type":"object","properties":{"pickup_time":{"type":"integer","description":"Either pickup_time or dropoff_time are required. Both cannot be provided.","format":"int64"},"dropoff_time":{"type":"integer","description":"Either pickup_time or dropoff_time are required. Both cannot be provided.","format":"int64"}}},"UberScheduledRide":{"required":["dropoff","guest","pickup","product_id","scheduling"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/ReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}},"scheduling":{"$ref":"#/components/schemas/Scheduling"}}},"UberScheduledRideWithScheduledReturn":{"required":["dropoff","guest","pickup","product_id","scheduling"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/ScheduledReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}},"scheduling":{"$ref":"#/components/schemas/Scheduling"}}},"FlexibleReturnTrip":{"required":["deferred_ride_options","end_location","product_id","start_location"],"type":"object","properties":{"start_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"end_location":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"note_for_driver":{"type":"string"},"deferred_ride_options":{"$ref":"#/components/schemas/DeferredRideOptions"}}},"UberScheduledRideWithFlexibleReturn":{"required":["dropoff","guest","pickup","product_id","scheduling"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/FlexibleReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}},"scheduling":{"$ref":"#/components/schemas/Scheduling"}}},"UberRide":{"required":["dropoff","guest","pickup","product_id"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/ReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}}}},"UberOnDemandRideWithFlexibleReturn":{"required":["dropoff","guest","pickup","product_id"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/FlexibleReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}}}},"Airline":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"}}},"Driver":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"phone_number":{"type":"string"},"sms_number":{"type":"string"},"picture_url":{"type":"string"},"rating":{"type":"number","format":"double"},"regulatory_info":{"type":"string"},"pin_based_communication":{"$ref":"#/components/schemas/PinBasedCommunication"}}},"EditableField":{"type":"object","properties":{"editable":{"type":"boolean"},"max_radius_meters":{"type":"integer","format":"int32"}}},"EditableFields":{"type":"object","properties":{"additional_properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/EditableField"}}}},"FlightDetails":{"type":"object","properties":{"flight_number":{"type":"string"},"airline":{"$ref":"#/components/schemas/Airline"},"arrival":{"$ref":"#/components/schemas/FlightEndpoint"},"departure":{"$ref":"#/components/schemas/FlightEndpoint"}}},"FlightEndpoint":{"type":"object","properties":{"airport_code":{"type":"string"},"estimated_time_ms":{"type":"string"}}},"FollowUpTrip":{"type":"object","properties":{"trip_uuid":{"type":"string"}}},"PinBasedCommunication":{"type":"object","properties":{"phone_number":{"type":"string"},"pin":{"type":"string"}}},"SchedulingDetails":{"type":"object","properties":{"pickup_time":{"type":"integer","format":"int64"}}},"SpendCap":{"type":"object","properties":{"trip_creation_status":{"type":"string"},"on_trip_status":{"type":"string"}}},"UberTrip":{"required":["can_tip","client_fare","client_fare_numeric","client_fare_without_tip","currency_code","dropoff","guest","location_uuid","pickup","product_id","request_id","request_time","requester_uuid","status","surge_multiplier","total_trip_legs","trip_distance_miles","trip_duration_seconds","trip_leg_number"],"type":"object","properties":{"guest":{"$ref":"#/components/schemas/UberGuest"},"pickup":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"dropoff":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"note_for_driver":{"type":"string"},"additional_guests":{"type":"array","items":{"$ref":"#/components/schemas/UberGuest"}},"communication_channel":{"type":"string"},"product_id":{"type":"string"},"fare_id":{"type":"string"},"policy_uuid":{"type":"string"},"expense_code":{"type":"string"},"expense_memo":{"type":"string"},"sender_display_name":{"type":"string"},"call_enabled":{"type":"boolean"},"contacts_to_notify":{"type":"array","items":{"$ref":"#/components/schemas/ContactToNotify"}},"return_trip_params":{"$ref":"#/components/schemas/ReturnTrip"},"stops":{"type":"array","items":{"$ref":"#/components/schemas/Stop"}},"request_id":{"type":"string"},"status":{"type":"string"},"request_time":{"type":"integer","format":"int64"},"rider_tracking_url":{"type":"string"},"surge_multiplier":{"type":"number","format":"double"},"requester_uuid":{"type":"string"},"location_uuid":{"type":"string"},"currency_code":{"type":"string"},"client_fare":{"type":"string"},"client_fare_numeric":{"type":"number","format":"double"},"client_fare_without_tip":{"type":"string"},"can_tip":{"type":"boolean"},"trip_distance_miles":{"type":"number","format":"double"},"trip_duration_seconds":{"type":"integer","format":"int64"},"trip_leg_number":{"type":"integer","format":"int32"},"total_trip_legs":{"type":"integer","format":"int32"},"final_destination":{"$ref":"#/components/schemas/CoordinatesWithPlace"},"status_detail":{"type":"string"},"editable_fields":{"$ref":"#/components/schemas/EditableFields"},"vehicle_location":{"$ref":"#/components/schemas/VehicleLocation"},"driver":{"$ref":"#/components/schemas/Driver"},"vehicle":{"$ref":"#/components/schemas/Vehicle"},"begin_trip_time":{"type":"integer","format":"int64"},"dropoff_time":{"type":"integer","format":"int64"},"spend_cap":{"$ref":"#/components/schemas/SpendCap"},"scheduling_details":{"$ref":"#/components/schemas/SchedulingDetails"},"follow_up_trip":{"$ref":"#/components/schemas/FollowUpTrip"},"flight_details":{"$ref":"#/components/schemas/FlightDetails"}}},"Vehicle":{"type":"object","properties":{"make":{"type":"string"},"model":{"type":"string"},"vehicle_color_name":{"type":"string"},"license_plate":{"type":"string"},"picture_url":{"type":"string"}}},"VehicleLocation":{"type":"object","properties":{"bearing":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"UberAccessPoint":{"type":"object","properties":{"id":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"label":{"type":"string"},"rider_wayfinding_note":{"type":"string"},"invalid_product_ids":{"type":"array","items":{"type":"string"}}}},"UberBoundingBox":{"type":"object","properties":{"northeast_lat":{"type":"number","format":"double"},"northeast_lng":{"type":"number","format":"double"},"southwest_lat":{"type":"number","format":"double"},"southwest_lng":{"type":"number","format":"double"}}},"UberGetRequestZonesResponse":{"type":"object","properties":{"bounding_box":{"$ref":"#/components/schemas/UberBoundingBox"},"master_zone":{"$ref":"#/components/schemas/UberMasterZone"},"access_points":{"type":"array","items":{"$ref":"#/components/schemas/UberAccessPoint"}}}},"UberMasterZone":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"address_line1":{"type":"string"},"categories":{"type":"array","items":{"type":"string"}},"polygon":{"type":"string"},"access_points":{"type":"array","items":{"$ref":"#/components/schemas/UberAccessPoint"}},"sub_zones":{"type":"array","items":{"$ref":"#/components/schemas/UberSubZone"}},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"UberSubZone":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"address_line1":{"type":"string"},"categories":{"type":"array","items":{"type":"string"}},"polygon":{"type":"string"},"access_points":{"type":"array","items":{"$ref":"#/components/schemas/UberAccessPoint"}},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"TripBrokerProvider":{"type":"object","properties":{"providerId":{"type":"integer","format":"int32"},"providerName":{"type":"string"},"inActive":{"type":"integer","format":"int32"},"description":{"type":"string"}}}}}}